openapi: 3.1.0
info:
  title: Western Union Mass Payments Balances Customers API
  description: The Western Union Mass Payments API enables financial institutions and enterprise customers to send up to 10,000 international payments in a single batch across 130+ currencies in 200+ countries and territories. The API supports payment lifecycle management including batch creation, adding payments, FX quotes, committing, and tracking. Authentication requires mutual TLS (mTLS) client certificates provided by Western Union upon partnership enrollment.
  version: v1
  contact:
    name: Western Union Partnership Program
    url: https://developer.westernunion.com/getting-started.html
    email: wuconnect@westernunion.com
  license:
    name: Western Union Partner Terms
    url: https://developer.westernunion.com/getting-started.html
servers:
- url: https://api.westernunion.com
  description: Production endpoint
- url: https://api-sandbox.westernunion.com
  description: Sandbox for testing
tags:
- name: Customers
  description: Customer account management.
paths:
  /customers/{clientId}:
    get:
      operationId: getCustomer
      summary: Get Customer
      description: Returns the account details and configuration for the authenticated Western Union partner/customer.
      tags:
      - Customers
      security:
      - mtlsAuth: []
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: string
        description: The partner's Western Union client ID.
      responses:
        '200':
          description: Customer account details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          description: Authentication failed.
        '404':
          description: Customer not found.
components:
  schemas:
    Customer:
      type: object
      description: Western Union partner customer account details.
      properties:
        id:
          type: string
          description: Western Union client ID.
        name:
          type: string
          description: Partner company name.
        status:
          type: string
          description: Account status.
          enum:
          - active
          - suspended
          - pending
        settlementCurrency:
          type: string
          description: Default settlement currency (ISO 4217).
        createdOn:
          type: string
          format: date-time
        lastUpdatedOn:
          type: string
          format: date-time
  securitySchemes:
    mtlsAuth:
      type: mutualTLS
      description: Mutual TLS authentication using client certificates provided by Western Union upon enrollment in the Partnership Program. Include the certificate and key with every request.
